@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  
  /*added - note, it doesn't work if added at the end separately */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  
  /*added*/
  padding:7px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* added */

a {
  text-decoration: none;
  color: rgb(77, 75, 75);
}

a:hover {
  text-decoration:underline;
}

.content {
 /* outline: 1px solid peru; */
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex:1;
  
}

.header {
 /* outline: 1px solid green; */
  display: flex;
  justify-content: space-between;  
}

ul {
  display:flex;
  list-style-type: none;
  padding:0;
}


.footer {
/*  outline: 1px solid orange; */
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
}

.header, .footer {
  padding-left:10px;
  padding-right:10px;
}

.left-links, .right-links {
  gap:20px;
}


